<!doctype html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8" />
        <title>soShare - 生命在于分享！</title>
        <link rel="stylesheet" href="/share/css/main.css" type="text/css" media="screen" />
        <script type="text/javascript" src="http://d.123.sogou.com/jsn/lib/ufo.js"></script>
        <link rel="shortcut icon" type="image/x-icon" href="/share/images/favicon.ico" />
        <style type="text/css" media="screen">
            .wrapper{ width:400px;height:300px;margin:0 auto; position:relative;}
            h1{text-align:center;padding-top:10px;}
            .form{ padding:20px 0 0 50px; }
            .form input{ width:200px; }
            .form p{margin:10px 0;}
            .result p{text-align:center;color:#444;margin:10px 0;}
            .result{padding-top:20px;}
            .result a{color:#444;}
            .result a.view{background:#ff1a00;padding:4px 8px;display:inline-block;color:#fff;text-decoration:none;}
            .mask{position:absolute;top:0;left:0;background:#fff;line-height:300px;opacity:0.8;text-align:center;font-size:16px;width:100%;height:100%;z-index:999;}
        </style>
    </head>
    <body>
        <div class="wrapper"> 
            <h1><img src="/share/images/logo.png" class="" alt="" /></h1>
            <div class="form">
                <form method="post" id="AddPost" action="">
                    <p>
                        <label for="title">标题：</label>
                        <input type="text" name="title" value="{{=title}}" id="title" readonly />
                    </p>
                    <p>
                        <label for="url">地址：</label>
                        <input type="text" name="url" value="{{=url}}" id="url" readonly />
                    </p>
                    <p>
                        <label for="tag">标签：</label>
                        <input type="text" name="tag" value="" id="tag" placeholder="请输入1-5个标签，空格隔开" />
                    </p>
                    <p>
                        <label for="key">语录：</label>
                        <input type="text" name="key" value="" id="key" placeholder="推荐理由" />
                    </p>
                    <p style="color:#f00;font-size:12px;padding-left:50px;margin:-5px 0 0;display:none;" id="error"></p>
                    <p style="padding-left:100px;">
                        <button type="submit" class="submit">提交</button>
                    </p>
                </form>
            </div>
            <div class="result" style="display:none;">
                <p style="font-size:16px;font-weight:700;">分享成功!</p>
                <p>窗口将在<span id="time">5</span>秒后关闭</p>
                <p>
                    <a href="#" onclick="window.close();return false;">关闭窗口</a>
                    <a href="#" class="view">查看文章</a>
                </p>
            </div>
            <div class="mask" style="display:none;">
                Posting...
            </div>
        </div>
    </body>
    <script type="text/javascript">
    
$('#AddPost').submit(function(e){
    e.preventDefault();
    var tags = $('#tag').val().trim().split(' ');
    if( tags.length <1 || tags[0] === '' ){
        $('#error').show().html('请至少输入一个标签');
    }else if( tags.length> 5 ){
        $('#error').show().html('请输入不多于五个标签');
    }else{
        $('.mask').show();
        var obj = {
            title:$('#title').val(),
            url:$('#url').val(),
            tag:tags.join(' '),
            key:$('#key').val()
        };
        $.ajax('/share/api/add' , {
            data:obj
        }).done(function(data){
            $('.mask').hide();
            data = JSON.parse(data);
            if( +data.result ){
                alert('error');
            }else{
                var id = data.id;
                $('.form').hide();
                $('.result').show();
                
                setInterval(function(){
                    $('#time').html( +$('#time').html() -1 );
                    
                    if( +$('#time').html() == 0 ){
                        window.close();
                    }
                } , 1000);
                
                $('.view').click(function(e){
                    e.preventDefault();
                    window.open('/share/post/'+id);
                    window.close();
                });
            }
        });
    }
});


    </script>
</html>

