<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>接受鄙视吧！</title>
        <link rel="stylesheet" href="/share/css/main.css" type="text/css" media="screen" />
        <script type="text/javascript" src="http://d.123.sogou.com/jsn/lib/ufo.js"></script>
        <script type="text/javascript">
            (function(){
            if( !$.browser.msie || parseInt( $.browser.version ) >= 9 ){
            location.href= document.referrer ||  "/share";
            }
            })();        
        </script>
        <style type="text/css" media="screen">
            html,body{height:100%;}
            body{
                background:#fff;
            
            }
            h1{
                font-size:60px;
                text-align:center;
                padding-top:50px;
            }
            p{font-size:20px;text-align:center;margin:50px 0;}
            ul{overflow:hidden;zoom:1;width:400px;position:relative;left:50%;margin-left:-200px;}
            li{float:left;margin:0 50px;}
        </style>
    </head>
    <body>
        <h1>鄙视你还在使用古老的IE浏览器！</h1>
        <p>赶快升级以下浏览器避免再被鄙视</p>
        <ul>
            <li><a title="下载Google Chrome浏览器" href="http://www.google.com/chrome/" target="_blank"><img width="100" src="/share/images/chromelogo.jpg" class="" alt="chrome" /></a></li>
            <li><a title="下载Sogou高速浏览器" href="http://ie.sogou.com/" target="_blank"><img width="100" src="/share/images/sogoulogo.jpg" class="" alt="sogou" /></a></li>
        </ul>
        <img src="/share/images/bishi.jpg" class="" alt="" style="position:absolute;bottom:0;z-index:-1;"/>
    </body>
</html>

