body{
    font:14px/1.231 "Microsoft Yahei" ,arial,sans-serif;
}

pre,
code,
kbd,
samp,
tt {
    font-family:monospace;
     line-height:100%;
}



strong{
    font-weight:700;
}



input , textarea{
    border:1px rgb(149,137,118) solid;
    font-size:14px;
    resize:none;
    background:#f5f5f5;
    padding:3px 2px;
}

input:focus,textarea:focus{
    outline:none;
    border-color:rgb(229,76,16);
    background:#fbfbfb;
}


.v-top *{
    vertical-align:top;
}

button{
    border:none;
    background:none;
    padding:5px 20px;
    font-size:16px;
    border:2px rgb(106,106,97) dashed;
    background:rgb(149,137,118);
    color:#fff;
    cursor:pointer;
}

button.submit{
    font-weight:700;
    border-style:solid;
    border-color:#000;
    background:#ff1a00;
    border-color:#ff1a00;
}